@model site.Models.AddSkladViewModel

@{
}

<h1>Добавить</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">NumberSklad</label>
        <input type="text" class="form-control" asp-for="NumberSklad">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Adress</label>
        <input type="text" class="form-control" asp-for="Adress">
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>